@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "merri";
    src: url(../fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri, serif;
$black1: rgb(17,17,17);
$white1: rgb(243,243,243);
$grey1: rgb(209,209,209);
$grey2: rgb(233,233,233);
$grey3: rgb(105,105,105);

@mixin title {
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a, a:visited{
    color: $white1;
}
body{
    background: url(../img/bg.jpg) fixed center/cover;
}